

.containerLearn {  
  color: white;
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: blueviolet;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}


