.inputbox {
  position: relative;
  margin: 15px 0;
  width: 100%;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
}

 .inputbox {
  width: 100%;
  height: 5%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 5px;
  color:lightskyblue;
  border: blueviolet 1px solid;
} 